<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=UTF-8>
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/styles-s.css">
    <link rel="stylesheet" href="/css/styles-m.css" media="(min-width:480px)">
    <link rel="stylesheet" href="/css/styles-l.css" media="(min-width:768px)">
    <link rel="stylesheet" href="/css/styles-xl.css" media="(min-width:1260px)">
</head>

<body class="lightgrey-background">
    <header class="yellow-background padding">
        <div class="header-flex">
            <img class="logo" href="/index.html"src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="search-container">
                <form class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <p class="regular-text text-center cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="regular-text nav-bar">
            <div class="nav-bar-flex">
                <ul class="nav-list nav-list-left flex">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-list nav-list-right flex">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img class="banner" src="/img/img-home-banner.jpg" alt="En estas fiestas no te pierdas ninguna venta">
    <main id="main-content">
        <section>
            <h2 class="text-titles">Basado en tu última visita</h2>
            <div class="flex">
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$6.770</p>
                            <p class="text-discounts">40% OFF</p>
                            <h3 class="text-descriptions">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$230.000</p>
                            <p class="text-discounts">20% OFF</p>
                            <h3 class="text-descriptions">MacBook Pro 2019</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$70.500</p>
                            <p class="text-discounts">10% OFF</p>
                            <h3 class="text-descriptions">Samsung Galaxy S10</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$23.200</p>
                            <p class="text-discounts">5% OFF</p>
                            <h3 class="text-descriptions">Samsung 43"</h3>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <h2 class="text-titles">Ofertas</h2>
            <div class="flex">
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$6.770</p>
                            <p class="text-discounts">40% OFF</p>
                            <h3 class="text-descriptions">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$230.000</p>
                            <p class="text-discounts">20% OFF</p>
                            <h3 class="text-descriptions">MacBook Pro 2019</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$70.500</p>
                            <p class="text-discounts">10% OFF</p>
                            <h3 class="text-descriptions">Samsung Galaxy S10</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="item">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                        <div class="article-box flex">
                            <i class="fas fa-truck"></i>
                            <p class="text-prices">$23.200</p>
                            <p class="text-discounts">5% OFF</p>
                            <h3 class="text-descriptions">Samsung 43"</h3>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <section class="footer-section">
            <i class="fas fa-credit-card"></i>
            <h3 class="footer-title">Pagá con tarjeta o en efectivo</h3>
            <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-section">
            <i class="fas fa-gift"></i>
            <h3 class="footer-title">Envío gratis desde $ 2.500</h3>
            <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos 
                gratis en miles de productos. Es un beneficio de Mercado
            Puntos.</p>
        </section>
        <section class="footer-section">
            <i class="fas fa-user-shield"></i>
            <h3 class="footer-title">Seguridad, de principio a fin</h3>
            <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que 
                no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>

</html>